{
    "extends": "airbnb-base",
    "rules": {
      "no-underscore-dangle": "off",
      "no-trailing-spaces": "off",
      "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["err", "req", "user"] }]
    }
  }